    <section class="card">
      <div class="container">
        <h2 class="card__title">News cards</h2>
        <ul class="card__list" id="cards"></ul>
      </div>
    </section>
    
    <!-- <script src="./js/get-card-list.js" type="module"></script> -->

    <!-- <script src="./js/get-card-list.js" type="module"></script> -->
    <!-- <script src="./js/get-card-list-popular.js" type="module"></script> -->

    <!-- <div class="container">

      <div class="news-wrapper">
        <div class="news-result">
          <div id="cards"></div>
        </div>
      </div> -->

 <!-- <script src="./js/get-card-list.js" type="module"></script> -->

