<section class="filter-section">
  <div class="filter-section__container container">
    <div class="categories">
      <ul class="categories__btn-list"></ul>
      <div class="menu">
        <button class="categories__btn-menu">
          <span class="categories__btn-text"></span>
          <svg class="categories__icon-up invisible" width="14" height="14">
            <use href="./images/sprite.svg#arrow-up"></use>
          </svg>
          <svg class="categories__icon-down" width="14" height="14">
            <use href="./images/sprite.svg#arrow-down"></use>
          </svg>
        </button>
        <div class="categories__menu invisible">
          <ul class="categories__list"></ul>
        </div>
      </div>
    <div class="wrapper">
      <p class="filter-section__text js-filter-text">Search date news</p>
      <div class="filter-section__input-group">
        <input
          type="text"
          id="datetime-picker"
          class="datetime-picker__input"
        />
        <svg class="datetime-picker__input-icon-calender">
          <use href="./images/sprite.svg#calendar"></use>
        </svg>
        <svg class="datetime-picker__input-icon-arrow-down">
          <use href="./images/sprite.svg#arrow-down"></use>
        </svg>
        <svg class="datetime-picker__input-icon-arrow-up">
          <use href="./images/sprite.svg#arrow-up"></use>
        </svg>
      </div>
    </div>
  </div>
</section>

<!-- <section class="filter-section">
  <div class="filter-section__container container">
    <ul class="filter__list filter-list-js">
      <li class="filter__item">
        <button class="filter__btn js-theme-change">Admin</button>
      </li>
      <li class="filter__item">
        <button class="filter__btn js-theme-change">Arts</button>
      </li>
      <li class="filter__item">
        <button class="filter__btn js-theme-change">Automobiles</button>
      </li>
      <li class="filter__item">
        <button class="filter__btn js-theme-change">Books</button>
      </li>
      <li class="filter__item-desktop">
        <button class="filter__btn-desktop js-theme-change">Briefing</button>
      </li>
      <li class="filter__item-desktop">
        <button class="filter__btn-desktop js-theme-change">Business</button>
      </li>
    </ul>

    <div class="dropdown__others">
      <button class="dropdown__btn js-dropdown-btn">Others</button>
      <svg class="dropdown__btn-icon-arrow-down">
        <use href="./images/sprite.svg#arrow-down"></use>
      </svg>
      <svg class="dropdown__btn-icon-arrow-up">
        <use href="./images/sprite.svg#arrow-up"></use>
      </svg>
      <div class="dropdown__content">
        <ul class="dropdown__list others-dropdown-list-js">
          <li class="dropdown__item">
            <button class="dropdown__category-btn">Climate</button>
          </li>
          <li class="dropdown__item">
            <button class="dropdown__category-btn">Corrections</button>
          </li>
          <li class="dropdown__item">
            <button class="dropdown__category-btn">Crosswords & Games</button>
          </li>
          <li class="dropdown__item">
            <button class="dropdown__category-btn">Education</button>
          </li>
          <li class="dropdown__item">
            <button class="dropdown__category-btn">En Español</button>
          </li>
          <li class="dropdown__item">
            <button class="dropdown__category-btn">Fashion</button>
          </li>
          <li class="dropdown__item">
            <button class="dropdown__category-btn">Food</button>
          </li>
          <li class="dropdown__item">
            <button class="dropdown__category-btn">Guides</button>
          </li>
          <li class="dropdown__item">
            <button class="dropdown__category-btn">Health</button>
          </li>
          <li class="dropdown__item">
            <button class="dropdown__category-btn">Home & Garden</button>
          </li>
          <li class="dropdown__item">
            <button class="dropdown__category-btn">Home Page</button>
          </li>
          <li class="dropdown__item">
            <button class="dropdown__category-btn">Job Market</button>
          </li>
          <li class="dropdown__item">
            <button class="dropdown__category-btn">Lens</button>
          </li>
        </ul>
      </div>
    </div>

    <div class="dropdown__categories">
      <button class="dropdown__btn js-theme-change">Categories</button>
      <svg class="dropdown__btn-icon-arrow-down">
        <use href="./images/sprite.svg#arrow-down"></use>
      </svg>
      <svg class="dropdown__btn-icon-arrow-up">
        <use href="./images/sprite.svg#arrow-up"></use>
      </svg>
      <div class="dropdown__content-mobile">
        <ul class="dropdown__list categories-dropdown-list-js">
          <li class="dropdown__item">
            <button class="dropdown__category-btn">GoIT News</button>
          </li>
          <li class="dropdown__item">
            <button class="dropdown__category-btn">Arts</button>
          </li>
          <li class="dropdown__item">
            <button class="dropdown__category-btn">Automobiles</button>
          </li>
          <li class="dropdown__item">
            <button class="dropdown__category-btn">Books</button>
          </li>
          <li class="dropdown__item">
            <button class="dropdown__category-btn">Briefing</button>
          </li>
          <li class="dropdown__item">
            <button class="dropdown__category-btn">Business</button>
          </li>
          <li class="dropdown__item">
            <button class="dropdown__category-btn">Climate</button>
          </li>
          <li class="dropdown__item">
            <button class="dropdown__category-btn">Corrections</button>
          </li>
          <li class="dropdown__item">
            <button class="dropdown__category-btn">Crosswords & Games</button>
          </li>
          <li class="dropdown__item">
            <button class="dropdown__category-btn">Education</button>
          </li>
          <li class="dropdown__item">
            <button class="dropdown__category-btn">En Español</button>
          </li>
          <li class="dropdown__item">
            <button class="dropdown__category-btn">Fashion</button>
          </li>
          <li class="dropdown__item">
            <button class="dropdown__category-btn">Food</button>
          </li>
        </ul>
      </div>
    </div>

    <div class="wrapper">
      <p class="filter-section__text js-filter-text">Search date news</p>
      <div class="filter-section__input-group">
        <input
          type="text"
          id="datetime-picker"
          class="datetime-picker__input"
        />
        <svg class="datetime-picker__input-icon-calender">
          <use href="./images/sprite.svg#calendar"></use>
        </svg>
        <svg class="datetime-picker__input-icon-arrow-down">
          <use href="./images/sprite.svg#arrow-down"></use>
        </svg>
        <svg class="datetime-picker__input-icon-arrow-up">
          <use href="./images/sprite.svg#arrow-up"></use>
        </svg>
      </div>
    </div>
  </div>
</section> -->
