<section>
  <div class="container">
    <details>
      <summary>20/12/2023</summary>
      <div class="content">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde quam
        odio, nesciunt dignissimos accusantium vero. Natus esse, asperiores
        explicabo vitae ea saepe labore pariatur totam nisi, nobis, ipsa modi
        et.
      </div>
    </details>
    <details>
      <summary>20/12/2023</summary>
      <div class="content">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde quam
        odio, nesciunt dignissimos accusantium vero. Natus esse, asperiores
        explicabo vitae ea saepe labore pariatur totam nisi, nobis, ipsa modi
        et.
      </div>
    </details>
    <details>
      <summary>20/12/2023</summary>
      <div class="content">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde quam
        odio, nesciunt dignissimos accusantium vero. Natus esse, asperiores
        explicabo vitae ea saepe labore pariatur totam nisi, nobis, ipsa modi
        et.
      </div>
    </details>
    <details>
      <summary>20/12/2023</summary>
      <div class="content">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde quam
        odio, nesciunt dignissimos accusantium vero. Natus esse, asperiores
        explicabo vitae ea saepe labore pariatur totam nisi, nobis, ipsa modi
        et.
      </div>
    </details>
  </div>
</section>
