<!-- <section class="today-clock">
    <div class=" left">
      <ul class="today-info">
        <li class="current-date">
          <p id="todays-date"></p>
          <sup>
            <p id="suffix"></p>
          </sup>
          <p id="day"></p>
        </li>
        <div class="">
          <li class="current-mth">
            <p id="month"></p>
            <div class="" style="border-left:1px solid #FFFFFF; height: 22px; width: 0"></div>
            <p id="date-time"></p>
          </li>
          <li class="current-set">
            <p></p>
            <svg class="rise__icon"> -->
              <!-- <use href="./images/weather.svg#icon-Grouprise"></use> -->
            <!-- </svg>
            <p id="sunrise" class="rise__time"></p>
            <div class="" style="border-left:1px solid #FFFFFF; height: 22px; width: 0"></div>
            <svg class="set__icon"> -->
              <!-- <use href="./images/weather.svg#icon-Groupset"></use> -->
            <!-- </svg>
            <p id="sunset" class="set__time"></p>
          </li>
        </div>
  
      </ul>
    </div>
  </section> -->