<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <p class="filter-section__text js-filter-text">Search date news</p>
      <div class="filter-section__input-group">
        <input
          type="text"
          id="datetime-picker"
          class="datetime-picker__input"
        />
        <svg class="datetime-picker__input-icon-calender">
          <use href="./images/sprite.svg#calender"></use>
        </svg>
        <svg class="datetime-picker__input-icon-arrow-down">
          <use href="./images/sprite.svg#arrow-down"></use>
        </svg>
        <svg class="datetime-picker__input-icon-arrow-up">
          <use href="./images/sprite.svg#arrow-up"></use>
        </svg>
      </div>
    </div>
  </body>
</html>
