.card__list {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
}

.card__item {
width: 100%;
}

.card__title {
    display: none;
}

.card__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card__thumb {
    position: relative;
}

.card__img {
    height: 395px;
    object-fit: cover;
    border-radius: 4px;
}

.card__news-category {
    position: absolute;
    top: 40px;

    padding: 4px 8px;
    display: inline-block;

    background-color: rgba(68, 64, 247, 0.7);
    color: var(--white-color);
    border-radius: 0px 4px 4px 0px;

    font-weight: 500;
    font-size: 12px;
    line-height: calc(16 / 12);
    text-align: center;
}

.favorite-btn {
    position: absolute;
    bottom: 12px;
    right: 8px;

    display: flex;

    padding: 6px 12px;

    background-color: var(--white-color);
    border-radius: 20px;
    border: none;

    font-weight: 500;
    font-size: 12px;
    line-height: calc(16 / 12);
    text-align: center;
}

.favorite-btn::after {
    content: '';
    width: 16px;
    height: 16px;
    background-image: url("../images/heart-icon.svg");
    margin-left: 4px;
}

.card__text-read {
    position: absolute;
    top: 14px;
    right: 14px;

    display: flex;
    align-items: center;

    color: var(--green-color);

    font-weight: 700;
}

.card__text-read::after {
    content: '';
    width: 18px;
    height: 18px;
    background-image: url("../images/check-mark.svg");
    margin-left: 4px;
}

.card__news-title {
    // min-height: 176px;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(33 / 24);
    letter-spacing: -0.01em;
}

.card__additional-info-container {
    display: flex;
    justify-content: space-between;
}

.card__datetime {
    color: var(--text-color-light);
}

.card__link {
    color: var(--accent-color);
}

@media screen and (min-width: $tablet) {
    body {
        font-size: 16px;
        line-height: calc(22 / 16);
    }

    .favorite-btn {
        right: 12px;
    }

    .card__text-read {
        top: 20px;
        right: 20px;
    }

    .card__news-title {
        font-size: 32px;
        line-height: calc(44 / 32);
    }

    .card__list {
        gap: 30px;
    }

    .card__item {
        flex-basis: calc(100% / 2 - 15px);
    }
}

@media screen and (min-width: $desktop) {
    .card__list {
        gap: 40px 31px;
    }

    .card__item {
        flex-basis: 395px;
    }
}