.no_news {
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    padding-bottom: 226px;
  }
  .no_news_wrap {
    text-align: center;
  }
  .no_news_wrap h1 {
    padding-bottom: 40px;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #111321;
  }
  .no_news_wrap img {
    width: 601px;
    height: 478px;
    margin-left: auto;
    margin-right: auto;
  }