.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 24px;
  padding-bottom: 19px;
  z-index: 999;
  transition: transform 250ms ease-in-out;
  background: var(--body-color);

  @media screen and(min-width: $tablet) {
    display: none;
  }
}

.menu-container.is-open {
  display: none;
  transform: translateX(0);
}

.menu-nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 74px;
}

.mobile-logo {
  text-decoration: none;
  display: inline-block;
  margin-left: 16px;
  color: var(--primary-text-color);
  font-family: Manrope;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

.close-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 16px;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.close-mobile__icon {
}

.is-hidden {
  transform: translateX(100%);
  display: none;
}



.mobile-menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0;
  margin-bottom: auto;
  list-style: none;
}

.mobile-menu__item {
  display: flex;
  align-items: center;
  padding-left: 16px;
  color: black;

  &.current:hover {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.mobile-menu__icon {
  &.current {
    border: 1px solid #fff;
    border-radius: 50%;
  }
}

.mobile-menu__arrow {
  display: none;
  margin-right: 10px;

  &.current {
    display: flex;
  }
}

.mobile-menu__link {
  text-decoration: none;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(22 / 16);
  color: var(--text--color);

  margin-left: 14px;
  margin-right: auto;
}

.toggle-theme.mobile {
  display: flex;
  gap: 10px;
  margin-left:16px ;
}
